<b>Alarm NAME:</b>{{ index .CommonLabels "alertname"}}
{{ $length := len .GroupLabels -}} {{ if ne $length 0 }}
    <b>Grouped for:</b>
    {{ range $key,$val := .GroupLabels -}}
        {{$key}} = <code>{{$val}}</code>
    {{ end -}}
{{ end -}}

{{if eq .Status "firing"}}
    Status: <b>{{.Status | str_UpperCase}} ❌ </b>
{{end -}}

{{if eq .Status "resolved"}}
    Status: <b>{{.Status | str_UpperCase}} ✅ </b>
{{end }}
<b>Active Alert List:</b>
{{- range $val := .Alerts }}
    {{$severity := index $val.Labels "severity" -}}
    {{if eq $severity "warning" -}}
        告警等级: {{$severity}} ⚠️
    {{else if eq $severity "Critical" -}}
        告警等级: {{$severity}} ⛔️
    {{else -}}
        告警等级: {{$severity}}
    {{ end -}}
    告警时间: {{ $val.StartsAt | str_FormatDate }}
    告警摘要: {{ index $val.Annotations "summary" }}
    告警描述: {{ index $val.Annotations "description" }}
{{- end -}}